@import url(https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&display=swap);

body {
	background-image: url(./ressources/background.jpg);
}

.frame {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 400px;
	margin-top: -200px;
	margin-left: -200px;
	border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
	overflow: hidden;
	background: linear-gradient(to top right, #06008b 0%, #69d3ff 100%);
	color: #333;
	font-family: "Lexend Deca", Helvetica, sans-serif; 
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
	height: 300px;
	border-radius: 3px;
	box-shadow: 8px 10px 15px 0 rgba(0, 0, 0, 0.2);
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
}

.title {
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #999;
	text-align: center;
}

h1 {
	font-size: 16px;
	font-weight: 300;
	color: #666;
}

.dropzone {
	width: 100px;
	height: 80px;
	border: 1px dashed #999;
	border-radius: 3px;
	text-align: center;
}

.upload-icon {
	margin: 25px 2px 2px 2px;
}

.filename {
	font-size: smaller;
}

.upload-input {
	position: relative;
	top: -61px;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.btn {
	display: block;
	width: 140px;
	height: 40px;
	background: #fd9718;
	color: #fff;
	border-radius: 3px;
	border: 0;
	box-shadow: 0 3px 0 0 #ff6000;
	transition: all 0.3s ease-in-out;
	font-size: 14px;
	font-family: "Lexend Deca", Helvetica, sans-serif;
}

.btn:hover {
	background: #ff6000;
	box-shadow: 0 3px 0 0 #fd9718;
}

#attenteImport {
	font-size: smaller;
	text-align: center;
}

#loadingOverlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 9999; /* Assurez-vous que l'élément de chargement est en premier plan */
}

.loadingSpinner {
	border: 4px solid #f3f3f3; /* Couleur de la bordure du spinner */
	border-top: 4px solid #3498db; /* Couleur de la première ligne du spinner */
	border-radius: 50%;
	width: 40px;
	height: 40px;
	animation: spin 1s linear infinite; /* Animation de rotation */
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}